.photoCommentMainDiv {
    width: 100%;
    padding: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.commenterUsernameP {
    display: block;
    font-weight: bolder;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

.commentTextP {
    display: block;
    font-size: 15px;
    margin: 0;
}

.photoPostHr {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: black;
}